# dependencias
node_modules/
**/node_modules/

# builds / caches
**/dist/
**/build/
**/.vite/
**/.cache/
**/coverage/

# logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
logs/
*.log

# SO / IDE
.DS_Store
Thumbs.db

# config local de VSCode
.vscode/

# env (no subas credenciales locales)
**/.env
**/.env.*
!**/.env.example

# Firebase
.firebase/
firebase-debug.log
firebase-debug.*.log

# Functions (TS -> JS compilado)
functions/lib/
functions/.runtimeconfig.json

# Secrets
serviceAccount*.json

# Lint/IDE caches
.eslintcache
functions/.eslintcache
.idea/
*.iml

# (Opcional) helpers locales que no quieras versionar
apps/**/src/services/dev*.ts